version: 2
jobs:
  release:
    docker:
      - image: circleci/golang:1.11.2
    steps:
    - checkout
    - setup_remote_docker
    - run:
        command: |
          docker login -u="$DOCKER_USER" -p="$DOCKER_PASS"
          make build push
workflows:
  version: 2
  build_and_test:
    jobs:
      - release:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
